table{
	width: 50%;
	margin: auto;
        border-style: solid;
        border: 1px;
}


td img{
	display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 200px;
}
td a p{
    text-align: center;
}
