<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Administracion Powerlifting</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Prueba de pagina de administracion</div>
        <p> Ir a afiliados: </p> <a href="./afiliados">Afiliados</a>
        <p> Ir a clubs: </p> <a href="./clubs">Clubs</a>
        
    </body>
</html>
