<!DOCTYPE html>
<html>
<head>
<title>Administracion Powerlifting</title>
<link rel="stylesheet" type="text/css" href="./css/estilos.css">
</head>
<body>

<div class="imagenes">
    <table>
        <tr>
            <td>
                <div class="img">
                    <a href="./afiliados"><img src="./img/user.png"/><p>Afiliados</p></a>
                </div>
            </td>
        
            <td>
                <div class="img">
                        <a href="./clubs"><img src="./img/club.png"/><p>Clubs</p></a>
                </div>
            </td>
        </tr>
        
        <tr>
            <td>
                <div class="img">
                        <a href="./jueces"><img src="./img/referee.png"/><p>Jueces</p></a>
                </div>
            </td>
            <td>
                <div class="img">
                        <a href="./campeonatos"><img src="./img/campeo.png"/><p>Campeonatos</p></a>
                </div>
            </td>
        </tr>
    </table>
</div>

</body>
</html>