<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Campeonatos</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="./css/estilos.css">
    </head>
    <body>
        <p>Elige una opcion</p>
        <table>
            <tr>
                <td><a href="./altaCampeonato"><img src="./img/alta.png"/><p>Alta campeonato<p></a></td>
                <td><a href="./cargarCampeonatos"><img src="./img/delete.png"/><p>Gestion campeonatos<p></a></td>
            </tr>
        </table>
        </div>
    </body>
</html>