<!DOCTYPE html>
<html>
    <head>
        <title>Informacion Jueces</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./css/bootstrap.css">
    </head>
    <body>
        
        <div class="divprinci"><p>Jueces:</p>
        <br>
       
        <table class="table">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre Juez</th>
                <th scope="col">Comunidad</th>
                <th scope="col">Numero telefono</th>
                <th>Ver</th>
                <th>Eliminar</th>
            </tr>
            <tr th:each="Juez : ${jueces}">
                <td scope="row" th:text="${Juez.id}"></td>
                <td scope="row" th:text="${Juez.nombreApellidos}"></td>
                <td scope="row" th:text="${Juez.comunidad}"></td>
                <td scope="row" th:text="${Juez.telefonoJuez}"></td>
                <td><a th:href="${'/verJuez/' + Juez.id}"><button type="submit" class="btn-primary">Ver</button></a></td>
                <td><a th:href="${'/eliminarJuez/' + Juez.id}">Eliminar</a></td>
            </tr>
        </table>
        <br>
        <a href="../juez"><button type="submit" class="btn-primary">Volver</button></a>
        </div>
            
    </body>
</html>

